@import '../../../styles/style';

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    
    &__pets-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 40px;
        margin: 40px 0 50px 0;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }

    & p {
        margin: 50px 0;
        font-size: 20px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .home-container {
        &__pets-grid {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            & a {
                transform: scale(0.9);
            }
        }
    }
}

@media (max-width: 767px) {
    .home-container {
        padding: 40px 20px;

        &__pets-grid {
            margin: 20px 0 50px 0;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            & a {
                transform: scale(0.8);
            }
        }
    }
}