$verde-claro: #A9C46C;
$verde-medio: #809D3C;
$verde-escuro: #5D8736;
$verde-escuro-sombra: #3b6019;
$amarelo-cinza: #e4e3b4;
$bege: #F4FFC3;
$fonte-principal: 'Raleway', sans-serif;
$fonte-secundaria: 'Playfair Display', sans-serif;

* {
    margin: 0;
    padding: 0;
}